<div class="row">

    <div class="col-3">
        One Way - from .ts to .html
    </div>

    <div class="col-3">

    </div>

    <div class="col-3">

    </div>

</div>

<div class="row">

    <div class="col-4">

        <div class="row">
            <div class="col-4 bg-success">
                Interpolation
                <h4>{{courseName}}</h4>
                <div>{{inputType}}</div>

                <input type="text" value="{{courseName}}" placeholder="Enter Text" />
                <input type="{{inputType}}" />
                <div class="{{myClassName}}">Danger</div>



            </div>

            <div class="col-4">
                Property Binding
                <div [class]="myClassName">Danger</div>
                <input type="text" [value]="courseName"/>
                <input [type]="inputType" />
        
                
            </div>

            <div class="col-4">
                <button class="btn btn-success" (click)="showAlert('Welcome')">Show Welcome</button>
                <span (click)="showAlert('This is from span')">Click Me!</span>
                <button class="btn btn-success" (click)="changeCourseName()">Change Course</button>
            </div>

        </div>

    </div>

   

    <div class="col-4">
            <input type = "text" [(ngModel)] = "courseName"/> - {{courseName}}
            <input type = "checkbox" [(ngModel)] = "isPakistani"/> - {{isPakistani}}

            <select [(ngModel)]="provinceName">

                <option value = "">Select</option>
                <option value = "Federal">Federal</option>
                <option value = "Balochistan">Balochistan</option>
                <option value = "KPK">KPK</option>
                <option value = "Punjab">Punjab</option>
                <option value = "Sindh">Sindh</option>

            </select>
    </div>

    <div class="col-6">
        <h2> {{firstName()}}</h2>
    </div>

</div>